.verticalTabs {
  box-sizing: border-box;
  width: 17.125rem;
  height: 35.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #483eff;
}

.group10 {
  padding-top: 1rem;
  border-radius: 0.9375rem;
}
