$denimColor: #022959;

.personalInfo {
  margin-top: 2.1875rem;
}

.personalInfoLabel {
  color: var(--denim, $denimColor);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.personalInfoErrorLabel {
  color: var(--red-errors, #ee374a);
  text-align: right;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  right: 5.24rem;
}

.personalInfoTextField {
  cursor: pointer;
  padding-left: 1rem;
  border-radius: 8px;
  border: 1px solid var(--border-color, #d6d9e6);
  background: var(--white, #fff);
  width: 28.125rem;
  height: 3rem;
  flex-shrink: 0;
  color: var(--denim, $denimColor);
  font-family: Ubuntu;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  :focus {
    border-color: red;
  }
  &::placeholder {
    color: var(--grey, #9699aa);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }

  &:focus-visible {
    outline: #483eff auto;
  }
}
